@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #262d3f;
}

figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  @apply px-8 py-4 block rounded shadow text-center text-sm font-semibold active:translate-y-[1px] transition duration-200 focus:outline-none ring-offset-2 focus:ring-2 active:ring-2;
}

.btn--green {
  @apply bg-green hover:bg-green-dark focus:bg-green-dark active:bg-green-x-dark ring-green-light;
}

.btn--blue {
  @apply bg-blue-light hover:bg-blue-light-dark focus:bg-blue-light-dark active:bg-blue-light-x-dark ring-blue-light/50;
}

.btn--orange {
  @apply bg-orange hover:bg-orange-dark focus:bg-orange-dark active:bg-orange-x-dark ring-orange/50;
}

.btn--red {
  @apply bg-red hover:bg-red-dark focus:bg-red-dark active:bg-red-x-dark ring-red/50;
}

.btn--secondary {
  @apply font-extralight text-xl flex items-center justify-between;
}
